main > .section .author-bio-wrapper {
    width: 748px;
    background-color: #fff;
    padding: 0 109px;
}

.author-bio .author-info {
    display: flex;
    margin-bottom: 2.75rem;
}

.author-bio .author-image {
    border-radius: 50%;
    display: block;
    height: 5.3125rem;
    margin-right: .625rem;
    min-width: 5.3125rem;
    width: 5.3125rem;
}

.author-bio .author-eyebrow {
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline;
    font-family: Averta;
    font-weight: 700;
}

.author-bio .author-bio {
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline;
}