.footer-links-wrapper {
    background-image: linear-gradient(180deg, #f1f5f7 0, #fff 30%, #fff);
    padding-bottom: 80px;
    padding-top: 60px;
}

.footer-links-wrapper .footer-links {
    padding-left: 88px;
    padding-right: 88px;
}

.footer-links-wrapper .footer-links > div {
    display: flex;
    flex-wrap: wrap;
}

.footer-links-wrapper .footer-links > div:first-of-type > div {
    width: 25%;
}

.footer-links-wrapper .footer-links h6 {
    font-family: Averta;
    font-size: .6875rem;
    font-weight: 400;
    line-height: .875rem;
    margin: 0;
    padding: 1rem 0;
    text-transform: uppercase;
}

.footer-links-wrapper .footer-links h6 .icon {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.footer-links-wrapper .footer-links p {
    font-family: Averta;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: .4375rem 0;
    margin: 0;
}

.footer-links-wrapper .footer-links p a {
    color: #112b4a;
    text-decoration: none;
}

.footer-disclaimer-wrapper {
    background-color: #3A464F;
    padding-bottom: 2.75rem;
    padding-top: 3.75rem;
}

.footer-disclaimer-wrapper .footer-disclaimer {
    padding-left: 88px;
    padding-right: 88px;
}

.footer-disclaimer-wrapper .footer-disclaimer p {
    margin: 0;
    color: #fff;
    font-size: .75rem;
    line-height: 1rem;
    font-family: Averta;
    font-weight: 400;
    letter-spacing: .03em;
    margin-bottom: 1.875rem;
}

.footer-disclaimer-wrapper .footer-disclaimer p a {
    text-decoration: none !important;
    color: #3cc8ff;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 200% .0625rem;
    overflow: hidden;
    transition: background-position .2s;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 50%, #3cc8ff 0);
}