@font-face {
  font-family: 'Averta-Bold';
  src: url('cme/common/resources/fonts/37E93D_0_0.eot');
  src: url('cme/common/resources/fonts/37E93D_0_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_0_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_0_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_0_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Averta';
  src: url('cme/common/resources/fonts/37E93D_0_0.eot');
  src: url('cme/common/resources/fonts/37E93D_0_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_0_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_0_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_0_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Averta-Black';
  src: url('cme/common/resources/fonts/37E93D_4_0.eot');
  src: url('cme/common/resources/fonts/37E93D_4_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_4_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_4_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_4_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Averta';
  src: url('cme/common/resources/fonts/37E93D_4_0.eot');
  src: url('cme/common/resources/fonts/37E93D_4_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_4_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_4_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_4_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Averta-Regular';
  src: url('cme/common/resources/fonts/37E93D_A_0.eot');
  src: url('cme/common/resources/fonts/37E93D_A_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_A_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_A_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_A_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Averta';
  src: url('cme/common/resources/fonts/37E93D_A_0.eot');
  src: url('cme/common/resources/fonts/37E93D_A_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_A_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_A_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_A_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Averta-RegularItalic';
  src: url('cme/common/resources/fonts/37E93D_B_0.eot');
  src: url('cme/common/resources/fonts/37E93D_B_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_B_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_B_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_B_0.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Averta';
  src: url('cme/common/resources/fonts/37E93D_B_0.eot');
  src: url('cme/common/resources/fonts/37E93D_B_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_B_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_B_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_B_0.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Averta-Semibold';
  src: url('cme/common/resources/fonts/37E93D_C_0.eot');
  src: url('cme/common/resources/fonts/37E93D_C_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_C_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_C_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_C_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Averta';
  src: url('cme/common/resources/fonts/37E93D_C_0.eot');
  src: url('cme/common/resources/fonts/37E93D_C_0.eot?#iefix') format('embedded-opentype'),
    url('cme/common/resources/fonts/37E93D_C_0.woff2') format('woff2'),
    url('cme/common/resources/fonts/37E93D_C_0.woff') format('woff'),
    url('cme/common/resources/fonts/37E93D_C_0.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
