:root {
  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

body {
  margin-top: 100px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section .default-content-wrapper {
  width: 748px;
  background-color: #fff;
  padding: 0 109px;
}

.section p:first-of-type {
  width: 100vw;
  left: 0;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.section p,
.section h1,
.section h2,
.section h3,
.section h4 {
  margin-bottom: 30px;
}

h1 {
  font-size: 2.625rem;
  letter-spacing: .0125rem;
  line-height: 3.375rem;
  color: #112b4a;
  font-family: Averta;
  font-weight: 600;
}

h1 strong,
h2 strong,
h4 strong {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  letter-spacing: .01em;
  line-height: 2.625rem;
  font-weight: 600;
  color: #112b4a;
  font-family: Averta;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: .01em;
  line-height: 1.625rem;
  color: #112b4a;
  font-family: Averta;
}

.section img {
  width: -webkit-fill-available;
  height: auto;
}