.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section .default-content-wrapper {
  width: 748px;
}

.section p:first-of-type {
  width: 100vw;
  left: 0;
  position: absolute;
  z-index: -1;
  padding-top: 59px;
}

.section p,
.section h1,
.section h2,
.section h3,
.section h4 {
  padding: 0 109px;
  background-color: #fff;
}
